          <div class="nav">
            <a href="{{ site.url }}">home</a>
            &nbsp;|&nbsp;
            <a href="/blog.html">blog</a>
            &nbsp;|&nbsp;
            <a href="{{ site.url }}/projects.html">projects</a>
            &nbsp;|&nbsp;
            <a href="https://twitter.com/{{ site.username }}" target="_blank">twitter</a>
            &nbsp;|&nbsp;
            <a href="https://github.com/{{ site.username }}" target="_blank">github</a>
            &nbsp;|&nbsp;
            <a href="https://flickr.com/photos/{{ site.username }}" target="_blank">flickr</a>
          </div>
